---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@styles/global.css';
import { site, twikoo } from "../../config"
import ProductionInject from './ProductionInject.astro';

export interface Props {
	page_meta?: Record<string, any>;
	meta_og?: Array<{property: string; content: string}>;
}
const isPROD = import.meta.env.PROD
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { 
	page_meta = {},
	meta_og = []
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={site.favicon} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{page_meta.title || site.name}</title>
<meta name="title" content={page_meta.title || site.name} />
<meta name="description" content={page_meta.description || site.description} />
<meta name="keywords" content={page_meta.keywords || site.keywords} />

<!-- Open Graph -->
{
	meta_og.map((item) => {
		if(Array.isArray(item.content)){
			return item.content.map((content) => {
				return <meta property={item.property} content={content} />
			})
		}
		return <meta property={item.property} content={item.content} />
	})
}


<link rel="stylesheet" href="/css/js-snackbar.css"/>
<script is:inline src="/js/js-snackbar.js"></script>
<script src="/src/log.ts" />

{
	twikoo.enabled? 
        <script is:inline src="https://cdn.staticfile.org/twikoo/1.6.9/twikoo.all.min.js"></script>
		: null
}

<!-- fancybox -->
<script is:inline src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>

{isPROD ? <ProductionInject/> : null}