---
import TheMenus from "@components/The/Menus.astro";
import HeaderBg from "@components/The/Header/HeaderBg.astro";
import { site } from "src/config";
import { getCollection } from "astro:content";
import HeaderWave from "@components/The/Header/HeaderWave.astro";

const articles = await getCollection("posts");

const injectAllPost = articles.map((post) => ({
  url: `/post/${post.slug}`,
  slug: post.slug,
  ...post.data,
  data: post.data,
}));
const injectAllPostString = "iak.data.posts = " + JSON.stringify(injectAllPost);
---

<script set:html={injectAllPostString}></script>

<nav id="nav">
  <a
    href="/"
    class="site-home"
    rel="prefetch"
    style={`background-image: url('${site.favicon}')`}
    title={site.name}
  >
    {site.name}
  </a>
  <ul class="nav-buttons">
    <TheMenus className="nav-button menu-button" />

    <li class="nav-button">
      <button
        id="random-post-trigger"
        class="nav-button-core"
        onclick="window.iak.randomPage()"
        title="随机文章"
      >
        <svg
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="4263"
          width="32"
          height="32"
          ><path
            d="M1009.942 718.058c18.746 18.746 18.746 49.138 0 67.882l-160 159.968c-30.02 30.02-81.942 8.98-81.942-33.942V832h-117.57a24.008 24.008 0 0 1-17.546-7.624l-141.112-151.192 106.666-114.286L704 672h64v-79.962c0-42.876 51.886-63.996 81.942-33.942l160 159.962zM24 352h168l105.562 113.102 106.666-114.286-141.112-151.192A23.998 23.998 0 0 0 245.57 192H24c-13.254 0-24 10.746-24 24v112c0 13.254 10.746 24 24 24z m744 0v79.968c0 42.92 51.922 63.96 81.942 33.942l160-159.968c18.746-18.746 18.746-49.138 0-67.882l-160-159.962C819.886 48.042 768 69.164 768 112.038V192h-117.57a24.008 24.008 0 0 0-17.546 7.624L192 672H24c-13.254 0-24 10.746-24 24v112c0 13.254 10.746 24 24 24h221.57c6.652 0 13.006-2.762 17.546-7.624L704 352h64z"
            p-id="4264"></path></svg
        >
      </button>
    </li>
    <li class="nav-button">
      <button
        class="nav-button-core"
        id="panel-trigger"
        title="站点面板"
        onclick="window.iak.togglePanel()"
      >
        <svg
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="16624"
          ><path
            d="M910.222222 484.864H113.777778a56.888889 56.888889 0 0 1-56.888889-56.888889V140.913778a56.888889 56.888889 0 0 1 56.888889-56.888889h796.444444a56.888889 56.888889 0 0 1 56.888889 56.888889v287.004444a56.888889 56.888889 0 0 1-56.888889 56.945778z m-739.555555-113.777778h682.666666V197.802667H170.666667v173.283555zM910.222222 947.541333H113.777778a56.888889 56.888889 0 0 1-56.888889-56.888889v-287.004444a56.888889 56.888889 0 0 1 56.888889-56.888889h796.444444a56.888889 56.888889 0 0 1 56.888889 56.888889v287.004444a56.888889 56.888889 0 0 1-56.888889 56.888889z m-739.555555-113.777777h682.666666v-173.226667H170.666667v173.226667z"
            fill="#59677C"
            p-id="16625"></path><path
            d="M399.416889 335.644444H296.277333a51.2 51.2 0 0 1 0-102.4h103.139556a51.2 51.2 0 0 1 0 102.4zM399.416889 798.321778H296.277333a51.2 51.2 0 0 1 0-102.4h103.139556a51.2 51.2 0 0 1 0 102.4z"
            p-id="16626"></path></svg
        >
      </button>
    </li>
    <li class="nav-button">
      <button
        id="search-trigger"
        class="nav-button-core"
        title="搜索"
        onclick="window.iak.toggleSearch()"
      >
        <svg
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="5314"
          width="128"
          height="128"
        >
          <path
            d="M1005.312 914.752l-198.528-198.464A448 448 0 1 0 0 448a448 448 0 0 0 716.288 358.784l198.4 198.4a64 64 0 1 0 90.624-90.432zM448 767.936A320 320 0 1 1 448 128a320 320 0 0 1 0 640z"
            p-id="5315"></path>
        </svg></button
      >
    </li>
    <li class="nav-button sidebar-toggle">
      <button
        id="sidebar-trigger"
        class="nav-button-core"
        title="菜单"
        onclick="window.iak.toggleSidebar()"
      >
        <svg
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="10746"
          width="32"
          height="32"
          ><path
            d="M950.848 768l0 73.152q0 14.848-10.848 25.728t-25.728 10.848l-804.576 0q-14.848 0-25.728-10.848t-10.848-25.728l0-73.152q0-14.848 10.848-25.728t25.728-10.848l804.576 0q14.848 0 25.728 10.848t10.848 25.728zM950.848 475.424l0 73.152q0 14.848-10.848 25.728t-25.728 10.848l-804.576 0q-14.848 0-25.728-10.848t-10.848-25.728l0-73.152q0-14.848 10.848-25.728t25.728-10.848l804.576 0q14.848 0 25.728 10.848t10.848 25.728zM950.848 182.848l0 73.152q0 14.848-10.848 25.728t-25.728 10.848l-804.576 0q-14.848 0-25.728-10.848t-10.848-25.728l0-73.152q0-14.848 10.848-25.728t25.728-10.848l804.576 0q14.848 0 25.728 10.848t10.848 25.728z"
            p-id="10747"></path></svg
        >
      </button>
    </li>
  </ul>
</nav>
<header id="header" class="the-header">
  <HeaderBg />
  <div class="main-header">
    <slot />
  </div>
  <HeaderWave />
</header>

<script>
function checkScroll(){
  const nav = document.getElementById('nav')
  const header = document.getElementById('header')
  if(!nav || !header) return;
  const headerHeight = header.offsetHeight
  const navHeight = nav.offsetHeight
  const scrollTop = document.documentElement.scrollTop || document.body.scrollTop
  if (scrollTop > headerHeight - navHeight) {
    nav.classList.add('over')
  } else {
    nav.classList.remove('over')
  }
}
checkScroll()
window.addEventListener('scroll', checkScroll)
</script>

<style>
  #header {
    --wave-height: 70px;
    min-height: 500px;
    background-color: var(--main-color);
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow: hidden;
  }
  #header .main-header {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--header-height) var(--side-padding) var(--wave-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav {
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--side-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    z-index: 200;
    top: 0;
    transition: 0.3s;
    border-color: transparent;
    color: rgba(var(--white-meta), 0.8);
    position: fixed;
  }
  #nav.over{
    background: var(--bg);
    border-bottom: 2px solid var(--card-border-color);
    color:var(--color-deep-text);
    backdrop-filter: blur(4px);
  }
  #nav .site-home {
    width: 28px;
    height: 28px;
    font-size: 0;
    background-size: cover;
    background-position: center;
  }
  #nav .site-home img {
    width: 100%;
    height: 100%;
  }
  #nav .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #nav .nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    line-height: 2;
  }

  #nav .nav-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  #nav .nav-button {
    width: 36px;
    height: 36px;
    border-radius: var(--base-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav .nav-button:is(:hover, :focus-within) {
    color: var(--main-color);
    background: rgba(var(--white-meta), 0.8);
  }
  #nav .nav-button-core {
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: var(--base-radius);
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #nav .nav-button .icon {
    width: 18px;
    height: 18px;
  }

  #nav .sidebar-toggle {
    display: none;
  }
  @media (max-width: 900px) {
    #nav .menu-button {
      display: none;
    }
    #nav .sidebar-toggle {
      display: flex;
    }
  }
</style>
