---
import TheMenus from "./Menus.astro"
import TheStyle from './Style.vue';
import TheSidebar from './Sidebar.vue'
import TheSearch from './Search.vue'
import { site } from "src/config";
import { getCollection } from "astro:content";


const articles = await getCollection("posts")
const injectAllPostUrl = `const allPostUrl = [${articles.map(a => `"/post/${a.slug}"`).join(',')}]`;

---
<script set:html={injectAllPostUrl}></script>
<script is:inline>
    window.iak.randomPage = () => {
        if(allPostUrl.length){
            const rand = Math.floor(Math.random() * allPostUrl.length);
            window.open(allPostUrl[rand],'_self')
        }
    }
</script>
<header id="header" class="the-header">
    <a href="/" class="site-home" style={`background-image: url('${site.favicon}')`} title={site.name}>
        {site.name}
    </a>
    <ul class="nav-buttons">
        <TheMenus className="nav-button menu-button" />
        
        <li class="nav-button" onclick="window.iak.toggleStyle()" title="博客设置">
            <svg class="icon the-style" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9656" width="32" height="32"><path d="M975.04 278.186667c8.32-8.32 8.32-21.866667 0-30.186667L776 48.96c-4.053333-4.053333-9.386667-6.293333-15.04-6.293333s-11.093333 2.24-15.04 6.293333L668.906667 125.866667l229.333333 229.226666 76.8-76.906666zM67.52 736v199.146667c0 11.84 9.493333 21.333333 21.333333 21.333333H288c0.106667 0 0.213333-0.106667 0.426667-0.106667l-220.693334-220.8c-0.106667 0.213333-0.213333 0.32-0.213333 0.426667zM898.24 668.906667l-102.826667 102.933333c-4.16 4.16-9.6 6.293333-15.04 6.293333s-10.88-2.133333-15.04-6.293333c-8.32-8.32-8.32-21.866667 0-30.186667l102.826667-102.933333-60.373333-60.373333-148.906667 148.906666c-4.16 4.16-9.6 6.293333-15.04 6.293334s-10.88-2.133333-15.04-6.293334c-8.32-8.32-8.32-21.866667 0-30.186666L777.493333 548.266667l-36.266666-36.266667 98.026666-98.026667-99.52-99.52L251.733333 802.346667l99.52 99.626666L512 741.226667l233.813333 233.813333c4.053333 4.053333 9.386667 6.293333 15.04 6.293333s11.093333-2.24 15.04-6.293333l199.146667-199.146667c8.32-8.32 8.32-21.866667 0-30.186666l-76.8-76.8zM122.026667 672.64l99.52 99.52 488-488-99.52-99.52-98.026667 98.133333-36.16-36.16-148.8 148.693334c-4.16 4.16-9.6 6.293333-15.04 6.293333s-10.88-2.133333-15.04-6.293333c-8.32-8.32-8.32-21.866667 0-30.186667l148.8-148.8-60.373333-60.373333-102.826667 102.826666c-4.16 4.16-9.6 6.293333-15.04 6.293334s-10.88-2.133333-15.04-6.293334c-8.32-8.32-8.32-21.866667 0-30.186666L355.2 125.866667l-77.013333-77.013334c-8-8-22.186667-8-30.186667 0L48.96 248c-8.32 8.32-8.32 21.866667 0 30.186667L282.773333 512 122.026667 672.64z" p-id="9657"></path></svg>
            <TheStyle client:only="vue"/>
        </li>
        
        <li class="nav-button" onclick="window.iak.randomPage()" title="前往随机文章">
            <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4263" width="32" height="32"><path d="M1009.942 718.058c18.746 18.746 18.746 49.138 0 67.882l-160 159.968c-30.02 30.02-81.942 8.98-81.942-33.942V832h-117.57a24.008 24.008 0 0 1-17.546-7.624l-141.112-151.192 106.666-114.286L704 672h64v-79.962c0-42.876 51.886-63.996 81.942-33.942l160 159.962zM24 352h168l105.562 113.102 106.666-114.286-141.112-151.192A23.998 23.998 0 0 0 245.57 192H24c-13.254 0-24 10.746-24 24v112c0 13.254 10.746 24 24 24z m744 0v79.968c0 42.92 51.922 63.96 81.942 33.942l160-159.968c18.746-18.746 18.746-49.138 0-67.882l-160-159.962C819.886 48.042 768 69.164 768 112.038V192h-117.57a24.008 24.008 0 0 0-17.546 7.624L192 672H24c-13.254 0-24 10.746-24 24v112c0 13.254 10.746 24 24 24h221.57c6.652 0 13.006-2.762 17.546-7.624L704 352h64z" p-id="4264"></path></svg>
        </li>
        <li class="nav-button" onclick="window.iak.toggleSearch()" title="搜索">
            <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5314" width="128" height="128">
                <path d="M1005.312 914.752l-198.528-198.464A448 448 0 1 0 0 448a448 448 0 0 0 716.288 358.784l198.4 198.4a64 64 0 1 0 90.624-90.432zM448 767.936A320 320 0 1 1 448 128a320 320 0 0 1 0 640z" fill="#262626" p-id="5315"></path>
            </svg>
            <TheSearch client:only="vue"/>
        </li>
        <li class="nav-button sidebar-toggle" onclick="window.iak.toggleSidebar()" title="菜单">
            <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10746" width="32" height="32"><path d="M950.848 768l0 73.152q0 14.848-10.848 25.728t-25.728 10.848l-804.576 0q-14.848 0-25.728-10.848t-10.848-25.728l0-73.152q0-14.848 10.848-25.728t25.728-10.848l804.576 0q14.848 0 25.728 10.848t10.848 25.728zM950.848 475.424l0 73.152q0 14.848-10.848 25.728t-25.728 10.848l-804.576 0q-14.848 0-25.728-10.848t-10.848-25.728l0-73.152q0-14.848 10.848-25.728t25.728-10.848l804.576 0q14.848 0 25.728 10.848t10.848 25.728zM950.848 182.848l0 73.152q0 14.848-10.848 25.728t-25.728 10.848l-804.576 0q-14.848 0-25.728-10.848t-10.848-25.728l0-73.152q0-14.848 10.848-25.728t25.728-10.848l804.576 0q14.848 0 25.728 10.848t10.848 25.728z" p-id="10747"></path></svg>
            <TheSidebar client:only="vue"/>
        </li>
    </ul>
</header>

<style>
#header{
    /* position: fixed; */
    /* background-color: var(--main-color); */
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--side-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    z-index: 200;
}
#header .site-home{
    width: 28px;
    height: 28px;
    font-size: 0;
    background-size: cover;
    background-position: center;
}
#header .site-home img{
    width: 100%;
    height: 100%;
}
#header .nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
#header .nav-links{
    display: flex;
    gap: 40px;
    list-style: none;
    line-height: 2;
}

#header .nav-buttons{
    display: flex;
    align-items: center;
    gap: 4px;
}
#header .nav-button{
    width: 36px;
    height: 36px;
    border-radius: var(--base-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
#header .nav-button:hover{
    color: var(--main-color);
    background: rgba(255, 255, 255, 0.8);
}
#header .nav-button .icon{
    width: 18px;
    height: 18px;
}

#header .sidebar-toggle{
    display: none;
}
@media (max-width: 900px){
    #header .menu-button{
        display: none;
    }
    #header .sidebar-toggle{
        display: flex;
    }
}
</style>