---
import IakImg from "@/components/Iak/Img.astro";
import { getPostUrl } from "@/lib/utils/content";
const { post } = Astro.props;
---

<div class="post-card-2">
  <div class="cover">
    <IakImg
      src={post.data.cover}
      alt={post.data.title}
      className="cover-img"
      loading="lazy"
    />
  </div>

  <div class="meta">
    <a href={getPostUrl(post)} class="title" rel="prefetch">{post.data.title}</a
    >
    <div class="desc">{post.data.description}</div>
  </div>
</div>

<style>
  .post-card-2 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
  }
  .post-card-2 .cover {
    width: 200px;
    aspect-ratio: 2/1;
    border-radius: var(--base-radius);
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
  }
  .post-card-2 :global(.cover-img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .post-card-2:hover :global(.cover-img) {
    opacity: 0.5;
  }
  .post-card-2 .meta {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .post-card-2 .title {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    transition: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .post-card-2 .title:hover {
    color: var(--card-active);
  }
  .post-card-2 .desc {
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  @media (max-width: 600px) {
    .post-card-2 {
      flex-direction: column;
    }
    .post-card-2 .meta {
      width: 100%;
    }
    .post-card-2 .cover {
      width: 100%;
    }
  }
</style>
