---
import IakImg from "@/components/Iak/Img.astro";
import { IakCard } from "@/lib/ui";
import { getUrlForPost } from "@/pages/_contents/posts";

const { post } = Astro.props;
---

<IakCard
  {...{
    as: "a",
    class: "post-card",
    href: getUrlForPost(post),
    ref: "prefetch",
  }}
>
  <div class="cover">
    <IakImg src={post.data.cover} alt={post.data.title} className="cover-img" />
    <span class="category">{post.data.category}</span>
  </div>

  <div class="meta">
    <div class="title">{post.data.title}</div>
    <div class="desc">{post.data.description}</div>
  </div>
</IakCard>

<style>
  .post-card {
    padding: 0;
    overflow: hidden;
  }
  .post-card .cover {
    width: 100%;
    aspect-ratio: 2/1;
    /* border: 4px solid rgba(255, 255, 255, 0.5); */
    position: relative;
    overflow: hidden;
    transition: 0.3s;
  }
  .post-card :global(.cover-img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-card .category {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: calc(0.75 * var(--base-radius));
    background-color: var(--color-deep-op);
    color: var(--color-deep-text);
    font-weight: bold;
    padding: 4px calc(0.75 * var(--base-radius));
    font-size: 0.7rem;
  }
  .post-card .meta {
    padding: 1em;
  }
  .post-card .title {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    /* color: white; */
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .post-card .desc {
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
</style>
