---
import BaseHead from "@components/BaseHead/BaseHead.astro";
import TheFooter from "@components/The/Footer.astro";
import GlobalInject from "@components/The/GlobalInject.astro";
import Sidebar from "./_cardLayout/Sidebar.vue";
import Header from "./_cardLayout/Header.vue";
import { ViewTransitions } from "astro:transitions";

const { page_meta, headings, meta_og, header, mainTransBg, bgRGB } =
  Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead page_meta={page_meta} meta_og={meta_og} />
    <ViewTransitions />
  </head>

  <body>
    <div id="app-container">
      <Sidebar client:only="vue" />
      <main id="app-main" class={mainTransBg ? "transparent" : ""}>
        <Header
          bgRGB={bgRGB}
          client:idle
          transition:persist="page-header"
          title={page_meta.title}
        />
        <slot />
        <TheFooter transition:persist="page-footer" />
      </main>
    </div>
    <script is:inline src="/js/iak.js"></script>

    <!-- <TheToolbar headings={headings}/> -->

    <GlobalInject transition:persist="global-inject" />
    <style>
      #app-container {
        --base-radius: 12px;
        --main-padding: 30px;

        width: 100%;
        height: 100vh;
        background-color: var(--bg);
        color: var(--card-sub-text-color);
        padding: var(--base-radius);
        display: flex;
        gap: var(--base-radius);
      }

      #app-main {
        flex-grow: 1;
        position: relative;
        z-index: 1;
        overflow: overlay;
        background-color: var(--card-bg);
        color: var(--card-text-color);
        border-radius: var(--base-radius);
        border: 2px solid var(--card-border-color);
      }
      #app-main::-webkit-scrollbar {
        display: none;
      }
      #app-main.transparent {
        background-color: unset;
      }
    </style>
  </body>
</html>
